@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* In your globals.css or equivalent file */

.scroll-bar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.scroll-bar-hide {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;  /* For Firefox */
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
